<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>



  <div class="field">
        <span>Questions:</span>
    <%= f.collection_check_boxes :question_ids, Question.all, :id, :content %><br>
  </div>


  <div class="field">
    <span>Questions:</span>
    <%= f.fields_for :questions, Question.new do |question_form| %>
      <%= question_form.label :content %>
      <%= question_form.text_field :content %>
      <% end %>
  </div>


    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>
