<%#= raise params.inspect %>
<h1>Answers</h1>

<%#= form_for(@finished_evaluation) do |f| %>
<%= form_for(@finished_evaluation, url: {controller: "finished_evaluations", action: "create"}, method: :post) do |f| %>.
  <table>
    <thead>
      <tr>
        <td>Questions</td>
        <td>Answer</td>
      </tr>
    </thead>
    <tbody>
      <% @evaluation.questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td>
        <%= f.fields_for :questions, question do |q| %>
          <%= q.fields_for :answers do |a| %>
            <%= a.text_area :content %>
            <%#= a.hidden_field :attendee_id, value: attendee.id %>
          <% end %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
