<h1>Evaluation for <%= @course.title %></h1>
<%= form_for(@finished_evaluation, url: {controller: "finished_evaluations", action: "create"}, method: :post) do |f| %>
  <h5>The learning objectives for this course were:</h5>
  <div class="mx-5"
  <ul>
    <li>
      <%= @course.learning_objective_1 %>
    </li>
    <li>
      <%= @course.learning_objective_2 %>
    </li>
    <li>
      <%= @course.learning_objective_3 %>
    </li>
  </ul>
</div>
<br />
  <table>
    <thead>
      <tr>
        <td>Questions</td>
        <td>Answer</td>
      </tr>
    </thead>
    <tbody>
      <% @evaluation.questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td>

            <%= f.fields_for :answers, question.answers.create(attendee: @attendee) do |a| %>
              <% if question.text? %>

                <%= a.text_area :content %>
                <%= a.hidden_field :question_id, :value => question.id %>
                <%= a.hidden_field :attendee_id, :value => @attendee.id %>
              <% else %>
                <ul class='likert'>
                  <li>
                    <%= radio_button_tag 'rating', "5", false %>
                    <label>Strongly agree</label>
                  </li>
                  <li>
                    <%= radio_button_tag 'rating', "4", false %>
                    <label>Agree</label>
                  </li>
                  <li>
                    <%= radio_button_tag 'rating', "3", false %>
                    <label>Neutral</label>
                  </li>
                  <li>
                    <%= radio_button_tag 'rating', "2", false %>
                    <label>Disagree</label>
                  </li>
                  <li>
                    <%= radio_button_tag 'rating', "1", false %>
                    <label>Strongly disagree</label>
                  </li>
                </ul>
                <%#= a.select :rating, [["Strongly Disagree", 1], ["Disagree", 2], ["Neutral", 3], ["Agree", 4], ["Strongly Agree", 5]] %>
            <% end %>






          <% end %>

        </td>
      </tr>



      <% end %>
        <%= f.hidden_field :evaluation_id, :value => params[:id] %>
        <%= f.hidden_field :course_id, :value => @evaluation.course.id %>
        <%= f.hidden_field :attendee_id, :value => @attendee.id %>
      </tbody>
    </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
