<h1>Answers for <%= @attendee.fullname %></h1>

<%= form_for(@finished_evaluation,  :html => { :class => "", :id => "" }, url: {controller: "finished_evaluations", action: "create"}, method: :post) do |f| %>.
  <table>
    <thead>
      <tr>
        <td>Questions</td>
        <td>Answer</td>
      </tr>
    </thead>
    <tbody>
      <% @evaluation.questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td>
        <%= f.fields_for :questions, question do |q| %>
            <%= q.fields_for :answers, question.answers.find_or_initialize_by(attendee: @attendee) do |a| -%>
              <%= a.text_area :content %>
              <%= a.hidden_field :attendee_id, :value => @attendee.id %>
              <%= a.hidden_field :evaluation_id, :value => params[:id] %>
            <% end -%>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
