
<h2><%= @evaluation.name %></h2>

<h3>Questions:</h3>
<ul>
    <% @questions.each do |q| %>
    <li>
      <%= q.content %>
    </li>
    <% end %>
</ul>
<br />

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
<%= link_to 'Destroy', @evaluation, method: :delete, data: { confirm: 'Are you sure?' } %>
