
<h2><%= @evaluation.name %></h2>

<h3>Questions:</h3>
<div class="mx-5">
  <ul>
      <% @questions.each do |q| %>
      <li>
        <%= q.content %>
      </li>
      <% end %>
  </ul>
</div>
<br />

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
<%= link_to 'Destroy', @evaluation, method: :delete, data: { confirm: 'Are you sure?' } %>
