  <h2>Courses taught by: <%= @instructor.title %> <%= @instructor.fullname %>, <%= @instructor.suffix %> </h2>

    <table class="data-table">
        <tr>
        <th>Course Title</th>
        <th>End Date</th>
        <th>Credits</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
      <% @instructor.courses.each do |c| %>
      <tr>
          <td>
              <%= c.title %>
          </td>
          <td>
            <%= c.end_date.strftime("%A, %b %d") %>
          </td>
          <td>
            <%= c.credits %>
          </td>
          <td>
            <%= c.location %>
          </td>
          <td>
          <% if c.evaluation.nil? %>
              Assign Eval
          <% else %>
              <%= c.evaluation.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <br />
