  <%= link_to "New Attendee", new_attendee_path, id: "news", class: "btn btn-primary" %>


  <ul>
    <% @attendees.each do |a| %>
    <li class="col-12 d-block width-full py-4 border-bottom public source" itemprop="owns" itemscope="" itemtype="http://schema.org/Code">
        <div class="d-inline-block mb-1">
          <h4>
            <%= link_to a.fullname, attendee_path(a), itemprop: "name codeRepository" %>
          </h4>
      </li>
    <% end %>
  </ul>

  <h2>Import Attendees</h2>
  <%= form_tag import_attendees_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
