
<h2><%= @course.title %></h2>
<div class="mx-5">

  <ul>
    <li>Instructor: <%= link_to @course.instructor.fullname, @course.instructor %></a></li>
    <li>Location: <%= @course.location %></li>
    <li>Credits: <%= @course.credits %></li>
    <li>Start Date: <%= @course.start_date %></li>
    <li>End Date: <%= @course.end_date %></li>
    <li>Learning Objective 1: <%= @course.learning_objective_1 %></li>
    <li>Learning Objective 2: <%= @course.learning_objective_2 %></li>
    <li>Learning Objective 3: <%= @course.learning_objective_3 %></li>
  </ul>
</div>

<% # !!! Replace with is_authorized? %>

<% if current_user.superadmin_role? || current_user.instructor_role? %>

  <h3>Attendees</h3>
    <div class="mx-5">
      <ul>
          <% @course.attendees.each do |s| %>
          <li>
            <%= link_to s.fullname, attendee_path(s), itemprop: "name codeRepository" %>
          </li>
          <% end %>
      </ul>
    </div>
  <br />

  <h3>Evaluation</h3>
  <div class="mx-5">
      <% if !@course.evaluation.nil?  %>
        <h4><%= @course.evaluation.name %></h4>
      <% else %>
        <%= link_to "Not assigned - Create one", evaluations_url%>
      <% end %>
    </div>

  <% if @course.complete? %>
    <h3>Finished Evaluations</h3>
    <div class="mx-5">
        <% if !@course.finished_evaluations.nil?  %>
          <h4><%= @course.finished_evaluations.count %></h4>
        <% else %>
          <h4>None completed</h4>
        <% end %>
      </div>

  <% end %>
  <h2>Import Attendees</h2>
  <%= form_tag import_courses_path, id: params[:id], multipart: true do %>
  <%= hidden_field_tag :id , params[:id] %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
  <% end %>

<% end %>

<%# !!! ayo, finish dis %>
<% if is_attendee? %>
  button_to "Register for this course" class="btn btn-primary", controller => attendees, action => update
<% end %>

<br />
<br />

<% if is_superadmin? %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn" %> |
  <%= link_to 'Destroy', @course, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
