<div id="main">
  <h1>Tite: <%= @course.title %></h1>
  <h3>Instructor: <% if !@course.instructor_id? %>
        <%= "Instructor Unassigned" %>
      <% else %>
        <a href="/instructors/ @course.inst_slug %>"><%= @course.instructor.first_name %></a></h3>
      <% end %>
  <h4>Location: <%= @course.location %></h4>
  <h4>Start Date: <%= @course.start_date %></h4>
  <h4>Description: <%= @course.learning_objective_1 %></h4>
  <h4>Students:</h4>
  <ul>
      <% @course.attendees.each do |s| %>
      <li>
        <a href="/students/ s.slug %>"><%= s.first_name %></a>
      </li>
      <% end %>
  </ul>
  <br />
  if is_admin?
      <a class="pure-button" href="/courses/ @course.slug %>/edit">Edit Course</a>
    <a class="pure-button" href="/courses/new">New Course</a>
    <a class="pure-button" href="/courses/ @course.slug %>/delete">Delete Course</a>
   end
  </div>
</div>
