<%= render "nav" %>

<div class="container">
  <h2><%= @course.title %></h2>
  <ul>
    <li>Instructor: <%= @course.instructor.fullname %></a></li>
    <li>Location: <%= @course.location %></li>
    <li>Credits: <%= @course.credits %></li>
    <li>Start Date: <%= @course.start_date %></li>
    <li>End Date: <%= @course.end_date %></li>
    <li>Learning Objective 1: <%= @course.learning_objective_1 %></li>
    <li>Learning Objective 2: <%= @course.learning_objective_2 %></li>
    <li>Learning Objective 3: <%= @course.learning_objective_3 %></li>
  </ul>

  <li>Attendees:</li>
  <ul>
      <% @course.attendees.each do |s| %>
      <li>
        <a href="/students/ s.slug %>"><%= s.first_name %></a>
      </li>
      <% end %>
  </ul>
  <br />

  </div>
</div>
