<nav class="UnderlineNav UnderlineNav--full" aria-label="Menu">
 <div class="container-lg UnderlineNav-container">
   <div class="UnderlineNav-body">
     <%= image_tag "ce-cert-logo.png" %>
     <%= link_to "Courses", courses_url, class: "UnderlineNav-item" %>
     <%= link_to "Instructors", instructors_url, class: "UnderlineNav-item"  %>
     <% unless is_attendee? %>
      <%= link_to "Attendees", attendees_url, class: "UnderlineNav-item"  %>
      <%= link_to "Evaluations", evaluations_url, class: "UnderlineNav-item"  %>
     <% end %>
     <%= octicon "person", class: "UnderlineNav-item" %>
     <% unless current_user.attendee.nil? %>
      <%= link_to "Profile", edit_profile(current_user), class: "UnderlineNav-item"  %>
    <% end %>
     <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "UnderlineNav-item"  %>
   </div>
 </div>
</nav>
