<!DOCTYPE html>
<html>
  <head>
    <title>CeEvalsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#unless action_name == "index" %>
      <%= render "nav" %>
    <%# end %>
    <div class="container pt-3">
      <% if !notice.nil? %>
        <div class="flash-messages">
          <div class="flash">
            <p id="notice"><%= notice %></p>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
